*.shp filter=lfs diff=lfs merge=lfs -text
data/DISTRICT_BOUNDARY.json filter=lfs diff=lfs merge=lfs -text
data/STATE_BOUNDARY.json filter=lfs diff=lfs merge=lfs -text
data/india_districts.geojson filter=lfs diff=lfs merge=lfs -text
data/india_states.geojson filter=lfs diff=lfs merge=lfs -text
